@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: auto;
    border: 1px solid blue;
    background-color: #030303;
}

body {
    margin: 0;
    font-family: "Barlow", sans-serif;
}

header {
    position: relative;
    display: flex;
    align-items: center;
}

.main-header__banner {
    display: flex;
    align-items: center;
    width: 150px;
    padding: 16px 0;
}

.main-header__banner img {
    width: 64px;
    height: 64px;
    margin-left: 85px;
}

.main-header__banner h3 {
    font-size: 20px;
    font-family: "Barlow";
    font-weight: 700;
    color: #ffffff;
}

nav {
    display: flex;
}

.main-navigation__items {
    display: flex;
    list-style: none;
    margin-left: 335px;
}

.main-navigation__item {
    text-decoration: none;
    padding: 10px;
    margin: 0 11px;
}

.main-navigation__item a {
    text-decoration: none;
    font-size: 16px;
    font-family: "Barlow";
    font-weight: 400;
    color: #ffffff;
}

.main-navigation__btn {
    margin-left: 255px;
    font-size: 14px;
    font-family: "Barlow";
    font-weight: 600;
    color: #ffffff;
    background-color: #0a84ff;
    padding: 14px 36px;
    border-radius: 10px;
}

main {
    position: relative;
    display: flex;
}

.main-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 700px;
    z-index: 1;
}

.main-header__infos {
    position: relative;
    margin-top: 160px;
    margin-left: 110px;
    width: 650px;
    z-index: 2;
}

.main-header__info h1 {
    font-size: 72px;
    font-family: "Barlow";
    font-weight: 900;
    color: #ffffff;
}

.main-header__info h1 span {
    font-size: 72px;
    font-family: "Barlow";
    font-weight: 900;
    color: #ffffff;
    background-color: #0a84ff;
    padding: 0 30px;
    border-radius: 16px;
}

.main-header__info h3 {
    margin-top: 33px;
    width: 550px;
    font-size: 20px;
    font-family: "Barlow";
    font-weight: 400;
    color: #ffffff;
}

.main-header__info button {
    margin-top: 33px;
    font-size: 14px;
    font-family: "Barlow";
    font-weight: 700;
    color: #ffffff;
    background-color: #0a84ff;
    padding: 14px 35px;
    border-radius: 10px;
}

.clients {
    display: flex;
    margin-top: 33px;
    width: 400px;
}

.clients img {
    width: 57px;
    height: 24px;
}

.clients h4 {
    margin-left: 20px;
    font-size: 14px;
    font-family: "Barlow";
    font-weight: 400;
    color: #ffffff;
}

.main-header__info-robot img {
    position: relative;
    margin-top: 45px;
    width: 570px;
    height: 655px;
    z-index: 2;
}